# Virtual environments
venv/
.env

# Python (temporal files)
__pycache__/
*.py[cod]

# Ignore Jupyter checkpoints and cache
.ipynb_checkpoints/
.cache/

# VS Code
.vscode/

# Ignore raw data and heavy processed files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Ignore serialized models (too heavy for Git)
models/*.pkl
*.pkl